@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<img class="img-rounded img-responsive center-block pull-left" src="~/images/logo.png"/>

<p>The Octo Pet Shop is a demo web app built using modern frameworks and technologies. This site is build using:</p> 

<ul>
    <li>Microsoft .NET Core</li>
    <li>ASP.NET Core 2.1</li>
    <li>Microsoft Web API</li>
    <li>Entity Framework Core</li>
    <li>Bootstrap</li>
    <li>Javascript</li>
    <li>etc.</li>
</ul>

