@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<img class="img-rounded img-responsive center-block pull-left" src="~/images/logo.png"/>

<address>
    Octopus Pet Shop<br />
    Brisbane, Australia<br />
    <abbr title="Phone">P:</abbr>+617 0000 0000
</address>

<address>
    <strong>Support:</strong> <p>support@octopetshop.com</p><br />
    <strong>Marketing:</strong> <p>marketing@octopetshop.com</p>
</address>
