@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Octo Pet Shop!</h2>

<p>asfd</p>

<div class="row">

    <div class="col-md-3">
    
        <div class="panel panel-default">
            <div class="panel-body">
                <div> <span class="pull-left"><strong>Dog</strong></span> <span class="pull-right"><strong>$100.00</strong></span> </div>
                <br/>
                <div><p style="color: gray; font-size: smaller">Border Collie puppy</p></div>
                <img class="img-rounded img-responsive center-block" src="https://s3.amazonaws.com/i.octopus.com/videos/Dog.png" width="200" height="200"/>
                
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <b>Cat</b>
                <p>Description</p>
                <img src="https://s3.amazonaws.com/i.octopus.com/videos/Cat.png" width="200" height="200"/>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <b>Octopus</b>
                <p>Description</p>
                <img src="https://s3.amazonaws.com/i.octopus.com/videos/Octopus.png" width="200" height="200"/>
            </div>
        </div>                
        
    </div>
    
    <div class="col-md-3">
    
        <div class="panel panel-default">
            <div class="panel-body">
                <b>Fish</b>
                <p>Description</p>
                <img src="https://s3.amazonaws.com/i.octopus.com/videos/Fish.png" width="200" height="200"/>
            </div>
        </div>
        
        
        
    </div>

</div>


